.Rproj.user
.Rhistory
.RData
.Ruserdata

# Simulated Data
/Simulations/simDat

# Data and results that are posted on ScienceBase
/Real\ Data\ Analysis/Data/CPUperimeter.kml
/Real\ Data\ Analysis/Trapping/Data/TRAPinfo.csv
/Real\ Data\ Analysis/Trapping/Data/TRAPcaptures.csv
/Real\ Data\ Analysis/Visual\ surveys/Data/VISinfo.csv
/Real\ Data\ Analysis/Visual\ surveys/Data/VIScaptures.csv
/Real\ Data\ Analysis/Trapping/Results/NWFNTRAPALL_SCRpstar.Rdata
/Real\ Data\ Analysis/Visual\ surveys/Results/NWFNVISALL_SCRpstar.Rdata
/Simulations/Results

# Plotting individuals dataset analyses
/Real\ Data\ Analysis/Scripts/PlottingFigures_RealData_original.R

# Original file versions not used in this manuscript
/Archive
/Real\ Data\ Analysis/Data/Unused
/Real\ Data\ Analysis/Visual\ surveys/DataPrep/Unused
/Real\ Data\ Analysis/Trapping/DataPrep/Unused
/Real\ Data\ Analysis/Visual\ surveys/Scripts/Unused
/Real\ Data\ Analysis/Trapping/Scripts/Unused
/Real\ Data\ Analysis/Visual\ surveys/Models/Unused
/Real\ Data\ Analysis/Trapping/Models/Unused
/Real\ Data\ Analysis/Trapping/Data/TRAPinfo_original.csv
/Real\ Data\ Analysis/Trapping/Data/TRAPcaptures_original.csv
/Real\ Data\ Analysis/Visual\ surveys/Data/VISinfo_original.csv
/Real\ Data\ Analysis/Visual\ surveys/Data/VIScaptures_original.csv
/Real\ Data\ Analysis/Visual\ surveys/Results/Unused
/Real\ Data\ Analysis/Trapping/Results/Unused
/Simulations/Models/Unused
/Simulations/Scripts/Unused
/Simulations/Results/Unused

