.Rproj.user
.Rhistory
.RData
.Ruserdata

# Simulated Data
/Simulations/simDat

# Results
/Results
/Visual\ surveys/Results
/Trapping/Results
/Simulations/Results

# Unused files
NWFNlocationsKey.xlsx
Archive/SCR0_SemiCond_B2_GroupsWOK.txt
Archive/SCR0_SemiCond_B2_GroupsWOK2.txt

# Outdated files
/Older

