.Rproj.user
.Rhistory
.RData
.Ruserdata

# Simulated Data
/Simulations/simDat

# Data and results that are posted on ScienceBase
/Real\ Data\ Analysis/Visual\ surveys/Data/TRAPinfo.csv
/Real\ Data\ Analysis/Visual\ surveys/Data/TRAPcaptures.csv
/Real\ Data\ Analysis/Visual\ surveys/Data/VISinfo.csv
/Real\ Data\ Analysis/Visual\ surveys/Data/VIScaptures.csv
/Real\ Data\ Analysis/Trapping/Results/NFWNTRAPALL_SCRpstar
/Real\ Data\ Analysis/Visual\ surveys/Results/NFWNVISALL_SCRpstar
/Simulations/Results

# Original file versions not used in this manuscript
/Archive
/Real\ Data\ Analysis/Data/Unused
/Real\ Data\ Analysis/Visual\ surveys/DataPrep/Unused
/Real\ Data\ Analysis/Trapping/DataPrep/Unused
/Real\ Data\ Analysis/Visual\ surveys/Scripts/Unused
/Real\ Data\ Analysis/Trapping/Scripts/Unused
/Real\ Data\ Analysis/Visual\ surveys/Models/Unused
/Real\ Data\ Analysis/Trapping/Models/Unused
/Real\ Data\ Analysis/Visual\ surveys/Data/TRAPinfo_original.csv
/Real\ Data\ Analysis/Visual\ surveys/Data/TRAPcaptures_original.csv
/Real\ Data\ Analysis/Visual\ surveys/Data/VISinfo_original.csv
/Real\ Data\ Analysis/Visual\ surveys/Data/VIScaptures_original.csv
/Real\ Data\ Analysis/Visual\ surveys/Results/Unused
/Real\ Data\ Analysis/Trapping/Results/Unused

